/*
    Student: Jule Engel
    Modul: IPWA01-01 - Programmierung von Webanwendungen
    Aufgabe: Fallstudie, Aufgabe 3
*/


/*Einstellugnen für die mobile Ansicht*/
.navbar-brand {
  font-size: 18px;
}
#logo {
  max-width: 30px; 
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
.navbar-toggler-icon {
  font-size: 0.8rem;
}


/* Optische Größenanpassung der Navigations-Leiste für Endgeräte mit größeren Bildschirmen*/
@media (min-width: 768px) { 
  .navbar-brand {
    font-size: 30px;
  }
  #logo {
    max-width: 50px; 
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }
  .navbar-nav {
      font-size: 20px;
  }
  .navbar-toggler-icon {
      font-size: 1.2rem;
  }
}

/*Stylistische Anpassungen für responsive Darstellung*/
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Falls der Inhalt auf kleinen Bildschirmen gestapelt werden soll */
}

#krisengebiet {
  font-size: 20px;
  padding:6px;
}

#sammeldienstAktiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#registrierungsFormular input::placeholder {
  text-align: center;
}